{% extends "base/_base.html" %}

{% block content %}
<script>
  document.addEventListener("DOMContentLoaded", function() {
    const apiUrl = 'https://api.waifu.im/search';
    const params = {
      included_tags: ['waifu'],
      height: '>=200'
    };

    const queryParams = new URLSearchParams();

    for (const key in params) {
      if (Array.isArray(params[key])) {
        params[key].forEach(value => {
          queryParams.append(key, value);
        });
      } else {
        queryParams.set(key, params[key]);
      }
    }
    const requestUrl = `${apiUrl}?${queryParams.toString()}`;

    fetch(requestUrl)
      .then(response => {
        if (response.ok) {
          return response.json();
        } else {
          throw new Error('Request failed with status code: ' + response.status);
        }
      })
      .then(data => {
        // Assuming the API returns an array of images
        const imageUrl = data.images[0].url; // Adjust based on actual API response structure
        document.getElementById('userImage').src = imageUrl;
      })
      .catch(error => {
        console.error('An error occurred:', error.message);
      });
  });
</script>
<div class="container my-5">
  <div class="text-center mb-4">
    <h2 class="mb-4">Профіль користувача</h2>
  </div>
  <div class="text-center mb-4">
    <img
      id="userImage"
      src=""
      alt="User Profile Image"
      class="img-thumbnail rounded-circle"
      style="width: 170px; height: 170px; object-fit: cover;"
    />

    <div class="card mb-4 p-3">
      <h4 class="card-title">Особиста інформація</h4>
      <div class="card-body">
        <h2>
          <p><strong>Ім'я користувача:</strong> {{ user.username }}</p>
        </h2>
        <h2>
          <p><strong>Ім'я:</strong> {{ user.first_name }}</p>
        </h2>
        <h2>
          <p><strong>Прізвище:</strong> {{ user.last_name }}</p>
        </h2>
        <h2>
          <p><strong>Ел. пошта:</strong> {{ user.email }}</p>
        </h2>
      </div>
    </div>

    <h3 class="mb-3">Ваші бронювання</h3>

    {% if bookings %}
    <ul class="list-group">
      {% for booking in bookings %}
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <div>
          <strong>{{ booking.location.name }}:</strong>
          {{ booking.start_time|date:"d.m.Y" }} - {{ booking.end_time|date:"d.m.Y" }}
        </div>
        {% if not booking.confirmed %}
        <span class="badge bg-warning text-dark">Очікує підтвердження</span>
        {% else %}
        <span class="badge bg-info text-dark">{{ booking.total_price }} грн</span>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
    {% else %}
    <div class="alert alert-info mt-3">
      <h2>У вас поки що немає бронювань.</h2>
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}