<!doctype html>
<html lang="uk">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Система бронювання</title>
    </head>
    <body>
        <h1>Вітаємо!</h1>
        <h2>Доступні бронювання:</h2>
        <ul>
            {% for location in locations %} +
            <li>
                {{ location.name }} - Amount: {{ location.amount }} -
                Description: {{ location.description }}
            </li>
            {% endfor %}
        </ul>
    </body>
</html>
