{% extends 'base/_base.html' %}

{% block title %}
    Система бронювання
{% endblock %}

<!-- TODO: Покращити вигляд сторінки -->
{% block content %}
        <h1>Вітаємо!</h1>
        <h2>Доступні бронювання:</h2>
        <ul>
            {% for location in locations %}
            <li>
                <a href="{% url 'location_detail' location.id %}">
                    {{ location.name }}
                </a>
                - Кількість: {{ location.amount }} - Опис: {{ location.description }}
            </li>
            {% endfor %}
        </ul>
        <!-- TODO: Додати кнопку для перегляду своїх бронювань -->
{% endblock %}